.container > .row {
    box-shadow: var(--box-shadow);
    padding: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.15;
    z-index: -1;
}

h2 {
    padding: 10pt 10pt;
    background-color: var(--color-dark);
    color: var(--color-light);
}

figure {
    float: left;
    border: 1px solid var(--color-light);
    background: var(--color-light);
    padding: 5pt;
    box-shadow: var(--box-shadow);
    margin-top: 0;
    margin-left: 0;
    margin-right: 15pt;
    width: 35%;
}

figure img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

figure figcaption {
    overflow-wrap: break-word;
    font-size: 0.8rem;
    width: 170pt;
}

p {
    text-align: justify;
    text-justify: auto;
}

/* Responsive */
@media (max-width: 800px) {
    figure {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%
    }
}