footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    margin-top: auto;
    padding-bottom: 20pt;
}

footer * {
    color: var(--color-light);
}

@media (max-width: 1024px) {
    footer section {
        text-align: center !important;
    }
}