details {
    box-shadow: var(--box-shadow);
    margin: 5pt;
    background-color: #F9F7F7E3;
    display: inline-block;
    min-width: 200pt;
    text-align: left;
}

summary {
    font-size: 1.3rem;
    cursor: pointer;
    list-style: none;
    text-align: center;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5pt;
}

figure {
    box-shadow: var(--box-shadow);
    float: left;
    display: inline-block;
    width: 150pt;
    padding: 10pt;
    background: white;
}

figure > img {
    object-fit: cover;
    width: 100%;
    height: 85%;
}

figure > figcaption {
    font-size: 0.7rem;
    text-align: center;
}

details p {
    text-align: justify;
    justify-items: auto;
    padding: 0 20pt;
}

details ul {
    margin-bottom: 20pt !important;
    margin-left: 20pt !important;
}

/* Responsive */
@media (max-width: 800px) {
    details {
        width: 98%;
    }

    figure {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    details ul {
        text-align: center;
    }
}