/* Fonts */
@font-face {
    font-family: 'Share Tech Mono';
    src: url('../font/ShareTechMono-Regular.eot');
    src: url('../font/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/ShareTechMono-Regular.woff2') format('woff2'),
    url('../font/ShareTechMono-Regular.woff') format('woff'),
    url('../font/ShareTechMono-Regular.ttf') format('truetype'),
    url('../font/ShareTechMono-Regular.svg#ShareTechMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --color-blue: #00719c;
    --color-light: #ffffff;
    --color-dark: #000000;
}

/* Elements */
* {
    font-family: "Share Tech Mono";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding-bottom: 20pt;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

app-footer {
    margin-top: auto;
}

/* Positioning */
.row {
    display: flex;
    flex-wrap: wrap;
}

.row.stretch {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    flex: 1 0 0%;
}

/* Alignment */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Backgrounds */
.background-primary {
    background-color: var(--color-blue);
    color: var(--color-light);
}

.background-primary * {
    color: var(--color-light);
}

.background-primary a:hover {
    text-shadow: 1pt 1pt 1pt var(--color-dark);
}

/* Spacing */
.margin-y-20 {
    margin: 20pt 0;
}

/* Utilities */
ul.list-plain {
    list-style: none;
    margin: 0;
    padding: 0;
}