.image-nav .column {
    height: 400pt;
    position: relative;
}

.image-nav figure {
    margin: 0 5pt;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

.image-nav figure>img  {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.image-nav figure>figcaption {
    background-color: var(--color-blue);
    color: var(--color-light) !important;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;

    writing-mode: vertical-lr;
    text-align: center;
    text-orientation: upright;
    font-size: 1.5rem;
    color: black;

    cursor: pointer;
}